@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5; /* Mitram grayLight */
  --foreground: #1A1A1A; /* Mitram dark */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F5F5F5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
